table {
    border: 1px solid grey;
    table-layout: fixed;
    width: 600px;
}

th,
td {
    border: 1px solid grey;
    overflow: hidden;
    width: 100px;
}

.center {
    margin: 10px auto;
}

.studentlistTitle {
    text-align: center;
}

button {
    /* border: none;
    background: none; */
}

button .loadingBtn {
    border: 1px solid blueviolet;
    background-color: blueviolet;
}